/* 
  Orange: e39300
  Red: a40c0c
  Green: 40bc1e
  Blue: 4584f8
  Black: 000000
  Gray: 8c8c8c
*/

html, body { width: 100%; min-height: 100%; margin: 0; padding: 0; background-color: #fff; color: #8c8c8c; }
body { font-family: 'Roboto', sans-serif; font-size: 0.9em; overflow-y: scroll; }
h1, h2, h3, h4, h5 { color: black; font-weight: normal; border-bottom: 1px solid #c9c9c9; background-color: transparent; margin: 0 0 8px 0; padding: 0; text-transform: uppercase; }
a { text-decoration: none; }
a.button { padding: 4px 14px; border: 1px solid #8c8c8c; background-color: #c9c9c9; color: #6c6c6c; }
a > i { margin-right: 4px; }
input, textarea, select { font-size: 1em; font-family: Roboto, sans-serif; color: #8c8c8c; padding: 4px; border: 1px solid #c9c9c9; }
input[type="text"] { width: 300px; }
input.error { border: 1px solid red; }
input:focus, textarea:focus { border: 1px solid #e39300; }
textarea { width: 300px; min-height: 100px; resize: vertical; }
label { padding: 4px 0; display: table-cell; vertical-align: middle; }
hr { display: block; height: 1px; border: 0; border-top: 1px dotted #ccc; margin: 20px auto; padding: 0; width: 50%; }
strong { color: black; }
#disqus-thread { margin-top: 10px; }
#sidebar { padding-left: 20px; padding-top: 30px; }
#sidebar h3 { margin-top: 20px; }
#sidebar ul { margin: 0; padding: 0; }
.logo { width: 100px; height: 100px; margin: 0 auto; background-repeat: no-repeat; }
.home .logo { background-image: url(../images/logo_orange.png); }
.home a { color: #e39300; }
.about .logo { background-image: url(../images/logo_blue.png); }
.about a { color: #4584f8; }
.blog .logo { background-image: url(../images/logo_red.png); }
.blog a { color: #a40c0c; }
.photos .logo { background-image: url(../images/logo_green.png); }
.photos a { color: #40bc1e; }
.games .logo { background-image: url(../images/logo_black.png); }
.games a { color: #000000; }
.float-right { float: right; }
.float-left { float: left; }
.content { width: 960px; margin: 0 auto; }
.row { width: 100%; margin: 0; padding: 0; *zoom: 1; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }
.span1, .span1-5, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 { margin: 0; padding: 0; float: left; }
.span1 { width:  8.33333333333%; }
.span1-5 { width: 12.5%; }
.span2 { width: 16.66666666667%; }
.span3 { width: 25%; }
.span4 { width: 33.33333333333%; }
.span5 { width: 41.66666666667%; }
.span6 { width: 50%; }
.span7 { width: 58.33333333333%; }
.span8 { width: 66.66666666667%; }
.span9 { width: 75%; }
.span10 { width: 83.33333333333%; }
.span11 { width: 91.66666666667%; }
.span12 { width: 100%; }
.space-top { margin-top: 4px; }
.space-bottom { margin-bottom: 4px; }
.game-item { padding: 4px; }
.game-item > a { color: #8c8c8c !important; }
.span12 .game-item .img-container { background-color: #ccc; width: 952px; height: 535px; }
.span6 .game-item .img-container { background-color: #ccc; width: 472px; height: 265px; }
.span3 .game-item .img-container { background-color: #ccc; width: 232px; height: 232px; }
.span1-5 .game-item .img-container { background-color: #ccc; width: 112px; height: 112px; }
.links { font-size: 1.3em; padding: 0 2px; }
#footer > .links { margin-top: 4px; }
#top { text-align: center; margin-bottom: 10px; }
#top  > .links { margin-top: 4px; }
#footer { text-align: center; margin-top: 10px; padding-top: 4px; border-top: 1px solid #c9c9c9; }
#lightbox-container { position: absolute; top: 0; left: 0; width: 100%; min-height: 100%; z-index: 1000; background-color: rgba(0, 0, 0, 0.12); }
#lightbox { position: relative; margin: 120px auto 20px auto; width: 720px; height: auto; min-height: 200px; border: 1px solid #c9c9c9; background-color: #fff; box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2); }
#lightbox.loading { margin-top: 240px; background-image: url(Images/ajax-loader.gif); background-position: center center; background-repeat: no-repeat; width: 80px; height: 80px; min-height: 60px; }
#lightbox.loading > #lightbox-close, #lightbox.loading > #lightbox-content { display: none; }
#lightbox-close { font-size: 1.2em; color: #e39300; float: right; padding: 6px; margin: 0 4px; cursor: pointer; }
#lightbox-content > div { padding: 10px; }
#error-display > ul { list-style-type: none; padding: 0; margin: 0; }
#error-display > ul > li { margin: 2px 0; }
.error { padding: 5px 0; }
.error > i { color: red; margin-right: 6px; }
.pagination { text-align: center; margin-top: 10px; }
.pagination ul { list-style-type: none; padding: 0; margin: 0; }
.pagination li { display: inline; padding: 0 4px; margin: 0; }
