html { background-color: #595959; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; color: #f5f5f5; }
h1 { font-family: 'Montserrat', Arial, sans-serif; font-weight: bold; font-size: 3.8em; color: #ADD679; text-transform: uppercase; padding: 0.1em 0 0 0; }
h1:first-letter, .capital { font-size: 1.2em; }
h2, 
h3, 
h4 { font-family: 'Oswald', Arial, sans-serif; font-weight: normal; font-size: 2em; color: #7993D6; text-transform: uppercase; 
  border-bottom: 0.2em solid #7993D6; padding: 0 0 0.1em 0; margin: 0 0 0.6em 0; }
h2:first-letter, .capital { font-size: 1.2em; }
h2 a { font-family: 'Oswald', Arial, sans-serif; }
h2 i { margin-left: 0.1em; }
h3 { font-size: 1.4em; border-bottom-style: none; margin: 0; padding-top: 0.4em; }
h3:first-letter, .capital { font-size: 1.2em;; }
h3 a { font-family: 'Oswald', Arial, sans-serif; }
h4 { font-size: 1.1em; }
a, 
nav a,
header nav  a { text-decoration: none; color: #D6799D; font-family: 'Open Sans', Arial, sans-serif; }
a:hover { color: #DC8DAC; }
a:active { color: #D06590; }
a i { line-height: inherit; }
p { padding: 0.4em 0; margin: 0.2em 0; }
strong { font-weight: 700; }
hr { height: 0; border-bottom: 1px dotted #f5f5f5; }
em { font-style: italic; }
ul { list-style-type: disc; padding: 0 0 0 0.4em; margin: 0.4em 0 0.4em 1em; }
ul li { padding: 0.1em 0; }
nav ul { list-style-type: none; padding: 0; margin: 0; }
nav li { display: inline; padding: 0; margin: 0; }
nav a { display: inline-block; padding: 0 0.2em; }
header nav a { font-family: 'Montserrat', Arial, sans-serif; font-size: 2em; text-transform: uppercase; color: #595959; background-color: #D6799D; 
  padding: 1.6em 0.8em 1em 0.8em; text-align: center; display: inline-block; text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
header nav a:not(.current):hover { background-color: #DC8DAC; padding-bottom: 1.2em; color: #595959; }
header nav a.current { padding: 1.6em 1em; background-color: #D06590; color: #595959; }
img { width: 100%; }
footer { border-top: 0.4em solid #7993D6; padding: 1em 0 0 0; }
input[type="text"], 
input[type="file"],
input[type="password"],
input[type="submit"],
textarea { width: 90%; padding: 0; margin: 0 5%; font-size: 1.2em; border-style: none; border-bottom: 1px dotted #fff; 
  background-color: transparent; color: #f5f5f5; text-align: center; }
input[type="submit"] { border: 1px solid #D6799D; font-size: 1.4em; cursor: pointer; background-color: #D6799D; 
  color: #595959; font-weight: bold; padding: 0.5em 1em; }
input[type="submit"]:hover { background-color: #DC8DAC; }
input[type="submit"]:active { background-color: #D06590; }
textarea { border: 1px dotted #f5f5f5; text-align: left; font-family: 'Open Sans', Arial, sans-serif; resize: vertical; padding: 1%; margin: 0 4%; 
  min-height: 8em; overflow: auto; }
.pagination {}  
#main { margin-top: 2em; margin-bottom: 1em; }
#disqus_thread { background-color: #474747; padding: 2em; margin: 2em auto; }
.social-sharing { list-style-type: none; padding: 0; margin: 0; }
.social-sharing > li { padding: 0 margin: 0; }
.pagination .pages { list-style-type: none; text-align: center; padding: 1em 0; margin: 0; }
.pagination .pages li { display: inline; padding: 0.5em 0.3em; margin: 0 0.3em; } 
.field_with_errors input { border-color: #F15D65; }
.error-list { padding: 0.5em 0; margin: 0.5em 0; width: 90%; margin: 0 5%; padding: 0; text-align: center; font-weight: bold; color: #F15D65; }
.error-list li { padding: 0.2em 0; font-size: 1.1em; }
.parent { position: relative; min-height: 12em; }
.tags { float: right; padding: 0; margin: 0; list-style-type: none; width: 100%; }
.tags li { background-color: #3F3F3F; text-align: center; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; padding: 0.6em 5%; margin: 0.4em 0; }
.tags a { color: #f5f5f5; margin: 0; }
.tags i { margin-right: 0.5em; }
.padding { padding: 1em; }
.padding-updown { padding-top: 1em; padding-bottom: 1em; }
.padding-leftright { padding-left: 1em; padding-right: 1em; }
.large { font-size: 1.5em; }
.larger { font-size: 2em; }
.largest { font-size: 3em; }
.small { font-size: 0.8em; }
.smaller {font-size: 0.5em; }
.smallest { font-size: 0.3em; }
.page-width { width: 960px; }
.center { margin: 0 auto; }
.left { float: left; }
.right { float: right; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.space-top { margin-top: 1em; }
.space-bottom { margin-bottom: 1em; }
.space-right { margin-right: 1em; }
.space-left { margin-left: 1em; }
.pad-top { padding-top: 1em; }
.pad-bottom { padding-bottom: 1em; }
.pad-right { padding-right: 1em; }
.pad-left { padding-left: 1em; }
.arrow { width: 0; height: 0; }
.row { width: 100%; }
div[class*="span"] { float: left; }
.span1 { width: 8.33%; }
.span2 { width: 16.67%; }
.span3 { width: 25%; }
.span4 { width: 33.33%; }
.span5 { width: 41.67%; }
.span6 { width: 50%; }
.span7 { width: 58.33%; }
.span8 { width: 66.66%; }
.span9 { width: 75%; }
.span10 { width: 83.33%; }
.span11 { width: 91.67%; }
.span12 { width: 100%; }
.clear:before, .clear:after, .row:before, .row:after { content: " "; display: table; }
.clear:after, .row:after { clear: both; }
.clear, .row { *zoom: 1; }