---
layout: default
title: Blog
---
<div id="post-container">
  <div class="posts">
  {% for post in paginator.posts %}
    <h2><a href="{{ post.url }}"><i class="icon-arrow-right"></i>{{ post.title }}</a></h2>
    <ul class="tags">
      <li><i class="fa fa-clock-o"></i><time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time></li>
      <li><i class="fa fa-comment"></i><a href="{{ post.url }}#disqus_thread"></a></li>
      <li><i class="fa fa-folder"></i>{{ post.categories | join: ', ' }}</li>
      <li><i class="fa fa-tag"></i>{{ post.tags | join: ', ' }}</li>
    </ul>
    <p>
      {{ post.excerpt }}
    </p>
    <p><a href="{{ post.url }}">Read more <i class="fa fa-arrow-right"></i></a></p>
  {% endfor %}
  </div>
</div>

{% include paginator.ext %}

<script type="text/javascript">
  var disqus_shortname = 'amcd';
  (function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
