---
  layout: default
  css: blog
---
<div class="row">
  <div class="span9">
    <h1><a href="/blog"><i class="icon-arrow-left"></i></a>{{ page.title }}</h1>
    {{ content }}

    <div class="social-sharing">
      <div class="fb-like" data-href="{{ page.url }}" data-send="false" data-layout="box_count" data-width="120" data-show-faces="false" data-font="verdana"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="andreasmcd84" data-count="vertical">Tweet</a>
      <div class="g-plusone" data-size="tall" data-href="{{ page.url }}"></div>
      <script type="text/javascript" src="http://www.reddit.com/static/button/button2.js?url={{ page.url }}"></script>
      <script src="//platform.linkedin.com/in.js" type="text/javascript" data-url="{{ page.url }}">lang: en_US</script>
      <script type="IN/Share" data-counter="top"></script>
    </div>
    
    {% if page.allow_comments != false %}

      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'amcd';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    {% endif %}
  </div>
  <div class="span3">
    <div id="sidebar">
      <p>
        <strong>Posted:</strong> <time datetime="{{ page.date }}">{{ page.date | date_to_string }}</time><br />
        <strong>Categories:</strong> {{ page.categories | array_to_sentence_string }}<br />
        <strong>Tags:</strong> {{ page.tags | join: ', ' }}
      </p>
      {% if site.related_posts.size > 0 %}
        <h3>Related posts</h3>
        <ul style="list-style-type: none;">
            {% for post in site.related_posts %}
              {% if post.url != page.url %}
                <li><a href="{{ post.url }}">{{ post.title | truncate: 33 }}</a></li>
              {% endif %}
            {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>
{% include social.ext %}
